/* Typos */
h1, h2, h3, h4, h5,
.card-pricing .title-pricing,
footer p,
.fake-link,
header.burger .button-menu,
.menu-navigation ul li a,
.button {
    font-family: "Poppins", serif;
}
body{
    padding: 15px;
    background: #E8E5DB;
    color: #292B33;
}

.strate {
    padding: 4vw 0;
}

.container-slider-logo{
    background: #292B33;
    padding:   0;
    border-radius: 0 0 10px 10px;
}

.strate-hero.middle{
    height: 75vh;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
}



.strate-hero.middle .button{
    padding: 30px 70px;
    color: #FFF;
    border: 1px solid rgba(255,255,255,.4);
    background: rgba(255,255,255,.1);
}

.swiper .card-slide{
    padding: 30px 4vw 25px;
}


.container-text-only.left h3{
    font-size: 3vw;
    line-height: 3.5vw;
    font-weight: 300;
    letter-spacing: -.03em;
}

.container-text-only.left h3 strong{
    font-weight: 600;
}

.container-text-only.left{
    width: 80%;
    margin: 0 auto
}

.strate-hero.middle .picto-1{
    font-size: 8vw;
    position: absolute;
    right: 2vw;
    bottom: -5vw;

    animation-name: floating2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
}

.strate-hero.middle .picto-2{
    font-size: 6vw;
    position: absolute;
    left: 2vw;
    top: -1vw;
    transform: rotate(-25deg);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
}

@keyframes floating {
    from { transform: translate(0,  0px) rotate(-25deg); }
    65%  { transform: translate(0, 35px) rotate(-15deg); }
    to   { transform: translate(0, -0px) rotate(-25deg); }
}

@keyframes floating2 {
    from { transform: translate(0,  0px) rotate(5deg); }
    65%  { transform: translate(0, 19px) rotate(0deg); }
    to   { transform: translate(0, -0px) rotate(5deg); }
}

.pushs-article-description{
    display: block;
    float: left;
}

.pushs-article-description p strong{
    font-size: 25px;
}

.pushs-article-description h2:before{
    content: '';
    z-index: -1;
    background: #DDD9CB;
    width: 2.3vw;
    height: 2.5vw;
    border-radius: 50%;
    position: absolute;
    transform: translateX(.25vw);
}

.pushs-article-description h3{
    font-weight: 700;
}

.card-pricing h3{
    font-weight: 600;
}

.card-pricing{
    border-color: rgba(0,0,0,0.2);
}

.container-pushs-article:hover .pushs-article-image{
    transform: scale(1);
}

.container-pictos h3{
    font-size: 1.5vw;
    line-height: 1.8vw;
    font-weight: 700;
}

.container-image-text h2{
    font-size: 2.2vw;
    line-height: 2.2vw;
    font-weight: 700;
}
.container-pushs-article .fake-link{
    display: block;
    width: 40%;
    float: right;
    border: 1px solid rgba(0, 0, 0, .3);
    background: #292b33;
    color: #000;
    border-radius: 40px;
    font-size: 0;
    height: 50px;
    position: relative;

    &:before{
        content: 'Voir le projet';
        display: block;
        font-size: 18px;
        font-weight: 600;
        line-height: 50px;
        position: absolute;
        color: #fff;
        top: 0;
        width: 100%;
        text-align: center;
    }
}

.container-picto img{
    margin-bottom: 30px;
    display: block;
    height: 100px;
}


header.linear.is-scrolled ul li a{
    color: #000;
    border-color: #000;
}

.swiper .swiper-wrapper{
    padding-bottom: 0;
}

footer .menu,
footer p{
    display: none;

}

.strate-hero.middle .strate-hero_inner{
    transform: translateX(-50%) translateY(-40%);
}

.strate-hero.middle .strate-hero_inner h1{
    animation-name: text;
    animation-duration: .6s;
}

.strate-hero.middle .strate-hero_inner h2{
    animation-name: text2;
    animation-duration: .9s;
}

.swiper .card-slide img{
    height: 3vw;
    margin-bottom: 0;
}

@keyframes text {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(-0%);
        opacity: 1;
    }
}
@keyframes text2 {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    50% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(-0%);
        opacity: 1;
    }
}


header.linear ul li a{
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, .4);
    background: rgba(255, 255, 255, .1);
    display: inline-block;
    padding: 8px 50px;
    font-size: 18px;
    border-radius: 25px;
    font-weight: 600;
}



header .menu{
    padding-top: 60px;
    padding-bottom: 10px;
    margin-right: 50px;
}
header.burger.is-scrolled .menu{
    padding-top: 20px;
}
.strate-hero .strate-hero_inner h1{
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 700;
    color: #FFF;
}

.strate-hero .strate-hero_inner h2{
    font-size: 2.5vw;
    color: #FFF;
    font-weight: 300;
}



.menu li a {
    font-family: "Poppins", serif;
    font-size: 14px;
}

.container-text-only.center p{
    max-width: 50%;
}


h1 {
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.2vw;
    font-size: 3.7vw;
    line-height: 3.4vw;
    margin-bottom: 1vw;
}

h2 {
    font-size: 2.9vw;
    line-height: 2.7vw;
    letter-spacing: -.1vw;
    margin-bottom: 1vw;
    font-weight: 700;

    &.normal {
        font-size: 3vw;
        line-height: 3vw;
    }

    &.big {
        font-size: 8vw;
        line-height: 7vw;
    }

    &.small {
        font-size: 2vw;
        line-height: 2vw;
    }
}

.citation h3{
    font-size: 30px
}

.citation{
    text-align: center;

    .author-infos{
        text-align: left;
    }
}


.container-form-landing{
    padding: 4vw 0;
    background: #c3cdf4;
    margin-top: 4vw;

    .container-text{
        top: 50%;
        position: relative;
        transform: translateY(-50%);
    }
}



.container-form-landing form{
    background: #FFF;
    padding: 2vw;
    border-radius: 15px;
}

.container-form-landing form label{
    font-weight: 600;

    font-size: 14px;
}
.container-form-landing .button{
    margin-top: 30px;
}

.page-template-front-page footer{
    display: none;
}


h3 {
    font-size: 25px;
    line-height: 28px;
    letter-spacing: -0.05vw;
    margin-bottom: 15px;
}

h4 {
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    letter-spacing: -.1vw;
}

p {
    font-size: 18px;
}

/* Container */
.container {
    max-width: 1920px;
    width: 90%;
}

.container-pushs-article img{
    margin-bottom: 20px;
}

.card-slide{
    position: relative;

    .text{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 2vw;
        color: #FFF;
    }
}

.card-slide .text h3{
    font-size: 2.5vw;
    line-height: 2.5vw;
}

.accordeon{
    border-left: 1px solid #777;
    border-right: 1px solid #777;

    .accordeon-item-title{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
        font-size: 1vw;
    }

    .accordeon-item-text{
        padding-left: 30px;
    }
}

.accordeon .accordeon-item-title h3{
    font-size: 2.5vw;
    line-height: 3vw;
}

.accordeon .accordeon-item-title:after{
    right: 30px;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 20px 50px 20px;
    background: transparent;
    color: #000;
    border-radius: 60px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #000;
    transition: 0.3s;

    &.primary {
        background: transparent;
    }

    &.secondary {
        background: #000;
    }

    &:hover {
        background: #FFF;
        color: #000;
        text-decoration: none;
    }
}

.white {
    .button {
        color: #fff;
        border: 1px solid rgba(255, 255, 255, .2);
        background: rgba(255, 255, 255, .1);
    }
}

/* Specific */
.strate-hero h4 {
    font-size: 3vw;
}

.container-image-text .image-strate{
    width: 85%;
}
.container-image-text h2{
    margin-bottom: 30px;
}

/* Hero */
header.burger .button-menu .text {
    color: #FFF;
    position: relative;
    top: 7px;
    font-size: 25px;
    padding: 0 15px;
}

header.burger .button-menu .barre {
    background: #FFF;
}

.menu-navigation ul li ul li a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header.burger.is-scrolled {
    background: #E8E5DB;
    border-bottom: 1px solid rgba(0,0,0,0.06);

    .barre {
        background: #000;

        &:before,
        &:after {
            background: #000;
        }
    }

    .button-menu {
        padding: 15px 30px;

        .text {
            color: #000;
        }
    }



    .social {
        padding: 30px 30px 27px;
        margin-bottom: 0;
    }
}

header.burger .logo, header.burger.is-scrolled .logo-scroll{
    width: 220px;
    margin-top: 60px;
    margin-left: 50px;
}

header.burger.is-scrolled .logo-scroll{
    margin-top: 25px;
}

header.burger.is-scrolled .social svg path{
    fill: #000 !important;
}

.contact-form label{
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
}
.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form input[type='tel'],
.contact-form textarea{
    width: 100%;
    appearance: none;
    border: 1px solid rgba(0,0,0,.2);
    resize: none;
    background: #FFF;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 30px;
}


.container-text-only.center p{
    margin-left: auto;
    margin-right: auto;
}

#form{
    .return-message{
        text-align: center;
        padding: 120px 0;
        font-size: 18px;
    }
}

#form p{
    font-size: 22px;
}
.container-text-only.right p{
    margin-left: auto;
}

.container-text-only p{
    display: block;
}
.container-text-only p a{
    color: inherit;
    text-decoration: underline;
}


footer li a{
    color: #000;
    font-size: 14px;
}

footer .copyright a{
    text-decoration: underline;
    font-size: 14px;
    color: #000;
}

footer p {
    color: #000;
    font-size: 18px;
    font-weight: 800;
}


.page-id-360 .accordeon-item-title h3{
    font-size: 40px;
    line-height: 40px;
}

.cky-btn-revisit-wrapper{
    background: #292b33 !important;
}

/* Footer */
footer {
    border-top: 1px solid rgba(0,0,0,0.06);
    .logo-footer{
        max-width: 100%;
        padding-top: 30px;
        width: 60px;
    }


    .copyright {
        color: #000;
        font-size: 12px;
    }

    .logo-footer {
        max-width: 200px;
        width: 200px;
    }

    .menu li {
        margin-bottom: 5px;

        a {
            color: #000;
            font-size: 14px;
        }
    }

    .social {
        padding-top: 30px;
        padding-right: 0;
        padding-bottom: 0;
    }
}

footer .social svg  path{
    fill: #000 !important;
}

@media (min-width: 1735px) {
    h2{
        &.big{
            font-size: 130px;
            line-height: 120px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .citation h3 {
        font-size: 30px;
        line-height: 30px;
    }

    .container-form-landing{
        padding: 40px 0;
    }
    .container-form-landing .container-text{
        padding: 0;
        text-align: center;
    }

    .container-form-landing .container-text p{
        font-size: 16px !important;
    }

    .container-form-landing .container-text h2{
        font-size: 40px;
        line-height: 40px;
    }

    .container-form-landing form{
        margin-top: 40px;
        padding: 30px 15px;
        max-width: calc( 100% - 10px);
        margin-left: 5px;
    }

    .button-menu{
        display: none;
    }

    header.burger .logo, header.burger.is-scrolled .logo-scroll{
        margin: 0 auto;
        display: block;
        padding: 50px 0 20px 0;
    }

    .strate-hero .strate-hero_inner h1{
        font-size: 40px;
        line-height: 40px;
    }

    .strate-hero.middle .strate-hero_inner h2{
        font-size: 25px;
        line-height: 30px;
    }

    .strate-hero.middle{
        height: 60vh;
    }

    .swiper .card-slide img{
        height: 7vw;
    }

    .container-slider-logo{
        display: none;
    }

    .container-text-only.left{
        width: 100%;
    }

    .container-text-only.left h3{
        font-size: 28px;
        line-height: 38px;
    }

    .container-pushs-article{
        margin-bottom: 30px;
    }

    .container-pushs-article:after{
        content: '';
        display: block;
        clear: both;
    }

    .container-pushs-article .fake-link{
        height: 40px;
    }
    .container-pushs-article .fake-link:before {
        font-size: 14px;
        line-height: 40px;
    }

    .pushs-article-description p strong{
        font-size: 21px;
    }

    .container-picto img{
        display: inline-block;
        height: 55px;
    }

    .container-pictos h3{
        font-size: 25px;
        line-height: 28px;
    }

    .container-image-text h2{
        font-size: 25px;
        line-height: 28px;
    }

    .container-image-text .image-strate{
        width: 100%;
    }

    header.burger.is-scrolled .logo-scroll{
        padding-top: 20px;
    }

    .strate-hero.middle .button{
        padding: 17px 40px;
        margin: 0 15px;
    }

    .strate-hero.middle .picto-1,
    .strate-hero.middle .picto-2{
        font-size: 20vw;
        z-index: -1;
        bottom: -120px;
        top: auto;
    }

    .strate-hero.middle .picto-1{
        bottom: auto;
        top: -120px;
    }

    .strate-hero .strate-hero_inner{
        width: 100%;
    }

    .return-message h3{
        font-size: 45px;
        line-height: 45px;
    }

    .button {
        padding: 15px 30px;
        font-size: 13px;
        display: block;
        text-align: center;
    }

    p {
        font-size: 16px;
    }

    h3 {
        font-size: 19px;
        line-height: 19px;
    }

    .container-text-only.left h2{
        text-align: center !important;
    }

    .container-text-only.center p{
        max-width: 100%;
    }

    .pushs-article-description h2{
        font-size: 70px;
        line-height: 70px;
    }

    .pushs-article-description h3{
        font-size: 25px;
        line-height: 25px;
    }

    h2 {
        font-size: 40px;
        line-height: 38px;
        margin-bottom: 15px;

        &.big {
            font-size: 70px;
            line-height: 60px;
        }

        &.normal {
            font-size: 40px;
            line-height: 40px;
        }
    }

    h4 {
        font-size: 35px;
        line-height: 35px;
    }


    header.burger.is-scrolled .button-menu {
        padding: 0;
        padding-top: 20px;
    }

    header.burger.is-scrolled .logo-scroll {
        margin-top: 0;
    }

    .strate-hero .strate-hero_inner h1.big {
        font-size: 100px;
        line-height: 80px;
    }

    .strate-hero h4 {
        font-size: 20px;
    }

    .strate {
        padding: 30px 0;
    }

    footer {
        text-align: center;

        .menu {
            margin-bottom: 30px;
        }

        .logo-footer {
            margin-bottom: 30px;
        }

        .social {
            margin-top: 30px;

            &.text-right {
                text-align: center !important;
            }
        }
    }

    .strate-hero.full{
        height: 85vh;
    }
    .container-image-text h2{
        margin-bottom: 15px;
    }

    .container-image-text h3{
        margin-bottom: 5px;
    }

    .container-pushs-articles{
        text-align: center;
    }
}

@media (max-width: 400px) {
    .strate-hero.middle{
        height: 90vh;
    }
}